Repository jaem1n207/synchronize-tab-scrolling: changes, and which lefthook commands are due for each by the changed paths.
All: linter, style

linter:
  run: bun run eslint --fix {staged_files}

style:
  run: bun run prettier --write {staged_files}

:bug: Fix linter and style issues
  lefthook.yml
Due: style

:construction_worker: Update package.json and release configuration
  .github/workflows/release.yml
  bun.lockb
  package.json
  release.config.js
Due: linter, style

:wrench: Refactor code for improved performance and readability
  .github/workflows/release.yml
  package.json
Due: style

:construction_worker: Update release step
  .github/workflows/release.yml
Due: style

:bug: Allow keyboard navigation even when text input is not focused
  src/lib/tabs/tabs-cmdk.svelte
Due: linter, style

:sparkles: 단축키로 검색 인풋 포커스되도록 설정
  src/lib/components/ui/command/command-input.svelte
  src/lib/kbd.ts
  src/lib/tabs/tabs-cmdk.svelte
Due: linter, style

:technologist: 네이밍 수정
  src/lib/tabs/tab-list.svelte
Due: linter, style

:construction_worker: Update release workflow and bun.lockb
  .github/workflows/release.yml
  bun.lockb
  package.json
  release.config.js
Due: linter, style

Notes added by 'git notes add'
  b644d86f208149c8ba57a90281d36f7f5efa270b
Due: none

:construction_worker: Update package.json and add release.config.js
  package.json
  release.config.js
Due: linter, style

:construction_worker: Remove tagFormat from release.config.js
  release.config.js
Due: linter, style

:construction_worker: Add semantic-release plugins to release.config.js
  release.config.js
Due: linter, style

:construction_worker: Update release.config.js
  release.config.js
Due: linter, style

fix: Safari keyword to package.json
  package.json
  release.config.js
Due: linter, style

Notes added by 'git notes add'
  76bf96efcbbbdbabd2b5c7361a1ee5f6a23cdd18
Due: none

fix: 스크립트를 빌드하기 전에 파일이 존재하는지 확인
  build-static-script.js
Due: linter, style

style: Update .prettierrc to use spaces instead of tabs
  .prettierrc
Due: none

fix: refactor startSync function in sub-command.svelte
  src/lib/tabs/sub-command.svelte
Due: linter, style

Notes added by 'git notes add'
  863ca2aa0614919a1d8952d2e253516ba91038cb
Due: none

:lipstick: Add tertiary color variables and styles
  src/app.pcss
  tailwind.config.ts
Due: linter, style

:sparkles: Add highlight-matches component for search functionality
  bun.lockb
  package.json
  src/lib/components/highlight-matches.svelte
Due: linter, style

:sparkles: Add input value prop to TabItem and TabList components
  src/lib/tabs/tab-item.svelte
  src/lib/tabs/tab-list.svelte
  src/lib/tabs/tabs-cmdk.svelte
Due: linter, style

:wrench: Update Firefox manifest and add missing icon sizes
  manifest-firefox.ts
Due: linter, style

:bento: Add logo icons
  static/icons/logo-256.png
  static/icons/logo-32.png
  static/icons/logo-512.png
  static/icons/logo-72.png
Due: none

:wrench: Update favicon and add Firefox manifest file
  src/app.html
  static/content-script.js
  static/manifest-firefox.json
  utils/parsers/manifest-parser.ts
  utils/plugins/create-manifest.ts
Due: linter, style

:truck: Update Firefox and Chrome manifest icons name
  manifest-firefox.ts
  manifest.ts
  static/icons/logo-128.png
  static/icons/logo-16.png
  static/icons/logo-48.png
Due: linter, style

chore: Add @types/firefox-webext-browser dependency
  package.json
Due: style

:construction_worker: Update dependabot.yml to daily interval and set open pull requests limit to 25
  .github/dependabot.yml
Due: style

:sparkles: Add platform detection utility
  utils/platform.ts
Due: linter, style

:wrench: Update firefox manifest version2 and permissions
  manifest-firefox.ts
Due: linter, style

:wrench: Update package.json with new scripts
  bun.lockb
  package.json
Due: style

:construction: Firefox 지원 준비
  static/manifest-firefox.json
  static/manifest.json
  utils/plugins/create-manifest.ts
  utils/task.ts
  vite.config.ts
Due: linter, style

style: Update README with language-specific badges
  README-ko_kr.md
  README.md
Due: style

:recycle: File paths for inject scripts
  build-static-script.js
  src/inject/background-script.inject.ts
  src/inject/content-script.inject.ts
  static/background-script.js
  vite.config.ts
Due: linter, style

Path conditions:
  linter: any of: *.{svelte,js,ts}
  style: any of: *.{html,svelte,js,ts,json,pcss,md,yml}
