Repository jaem1n207/synchronize-tab-scrolling: changes, and which lefthook commands are due for each by the changed paths.
All: linter, style

lefthook.yml:

commit-msg:
  commands:
    'lint commit message':
      run: bunx commitlint --edit $1

pre-commit:
  parallel: true
  commands:
    linter:
      glob: '*.{svelte,js,ts}'
      run: bunx eslint --fix {staged_files} && git update-index --again
    style:
      glob: '*.{html,svelte,js,ts,json,pcss,md,yml}'
      run: bunx prettier --write {staged_files} && git update-index --again

:sparkles: Add platform detection utility
  utils/platform.ts
Due: linter, style

ci: update release.config.js with semantic-release changes
  release.config.js
Due: linter, style

build: 2.0.4
  package.json
Due: style

feat: 플랫폼별 빌드 경로로 번들링 파일 복사 후 제거하는 롤업 플러그인 구현
  utils/plugins/copy-to-platform-dirs.ts
Due: linter, style

fix: 데브툴 보이는 조건 수정
  src/routes/+layout.svelte
Due: linter, style

refactor: 변수명 수정
  utils/plugins/extract-inline-script.ts
Due: linter, style

chore: Add @types/firefox-webext-browser dependency
  package.json
Due: style

style: Update README with language-specific badges
  README-ko_kr.md
  README.md
Due: style

:wrench: Update package.json with new scripts
  bun.lockb
  package.json
Due: style

:wrench: Update favicon and add Firefox manifest file
  src/app.html
  static/content-script.js
  static/manifest-firefox.json
  utils/parsers/manifest-parser.ts
  utils/plugins/create-manifest.ts
Due: linter, style

feat: 빌드가 시작되면 특정 경로의 폴더를 제거하는 플러그인 구현
  utils/plugins/clean-out-dir.ts
Due: linter, style

refactor: log and watch-rebuild modules
  utils/log.ts
  utils/plugins/watch-rebuild.ts
Due: linter, style

chore: update commitlint command in lefthook.yml
  lefthook.yml
Due: style

feat: mv2 대응 & 빌드 프로세스 업데이트
  bun.lockb
  utils/plugins/copy-to-platform-dirs.ts
  utils/plugins/create-manifests.ts
  utils/plugins/extract-inline-script.ts
  utils/plugins/zip.ts
  vite.config.ts
Due: linter, style

:truck: Update Firefox and Chrome manifest icons name
  manifest-firefox.ts
  manifest.ts
  static/icons/logo-128.png
  static/icons/logo-16.png
  static/icons/logo-48.png
Due: linter, style

feat: platform detection logic
  src/lib/platform.ts
Due: linter, style

feat: 빌드 시작 시, 특정 폴더 존재를 보장하는 플러그인 구현
  utils/plugins/ensure-out-dir.ts
Due: linter, style

refactor: 빌드 과정 중 플랫폼별 폴더에 번들링 파일 복사
  utils/plugins/create-manifests.ts
  utils/plugins/extract-inline-script.ts
  utils/plugins/zip.ts
  vite.config.ts
Due: linter, style

refactor: esbuild를 이용해 익스텐션 스크립트 번들하도록 변경하여 비트 구성에 통합
  build-static-script.js
  bun.lockb
  package.json
  static/background-script.js
  static/content-script.js
  utils/plugins/bundle-extension-script.ts
Due: linter, style

refactor: 소요 시간 측정
  utils/paths.ts
  utils/plugins/bundle-extension-script.ts
  utils/plugins/clean-out-dir.ts
  utils/plugins/create-manifests.ts
  utils/plugins/ensure-out-dir.ts
  utils/plugins/extract-inline-script.ts
  utils/plugins/zip.ts
  utils/utils.ts
  vite.config.ts
Due: linter, style

feat: 플랫폼별 빌드 결과물 압축 파일 생성
  utils/plugins/zip.ts
Due: linter, style

refactor: build process plugins
  utils/plugins/bundle-extension-script.ts
  utils/plugins/extract-inline-script.ts
  utils/plugins/zip.ts
  vite.config.ts
Due: linter, style

chore(deps): Remove cssnano from package.json
  bun.lockb
  package.json
  postcss.config.js
Due: linter, style

refactor: 주석 업데이트
  src/lib/tabs/tab-list.svelte
  src/lib/tabs/utils.tabs.ts
  utils/paths.ts
  utils/plugins/bundle-extension-script.ts
Due: linter, style

fix: querySelector 사용 시, 표준 CSS 구문에 포함되지 않는 문자 이스케이프 처리
  Issue.md
  src/lib/tabs/tab-item.svelte
Due: linter, style

:bento: Add logo icons
  static/icons/logo-256.png
  static/icons/logo-32.png
  static/icons/logo-512.png
  static/icons/logo-72.png
Due: none

chore(release): 2.1.0 [skip ci]
  CHANGELOG.md
  package.json
Due: style

Notes added by 'git notes add'
  2cbfd1686c7ddcb6489814959b2d6a68549b37cd
Due: none

fix: update delay values in copyToPlatformDirs and zip plugins
  utils/plugins/copy-to-platform-dirs.ts
  utils/plugins/zip.ts
  vite.config.ts
Due: linter, style

fix: fix typo in Firefox add-on link
  README-ko_kr.md
  README.md
Due: style

docs: 이슈 사항 업데이트
  Issue.md
Due: style

style: 팝업창 최대 너비 설정
  src/lib/tabs/tabs-cmdk.svelte
Due: linter, style

fix: 서버에서 데이터 패칭하지 않음
  src/routes/+page.ts
Due: linter, style

fix: add polyfill for chrome.tabs.query function
  src/lib/tabs/utils.tabs.ts
Due: linter, style

refactor: use globalThis
  .eslintrc.cjs
Due: none

refactor: webextension polyfill
  .eslintrc.cjs
  bun.lockb
  src/app.d.ts
  src/lib/tabs/selectedTabStore.ts
  src/lib/tabs/tab-item.svelte
  src/lib/tabs/utils.tabs.ts
  src/lib/webextension-polyfill.ts
Due: linter, style

refactor: 압축 단계에서 debug 모드일 때 생략 로그 출력
  utils/plugins/zip.ts
Due: linter, style

fix: chrome 네임스페이스로 타입 단언하던 부분 제거
  src/lib/webextension-polyfill.ts
Due: linter, style

docs: 크로스 브라우저 호환성 이슈 작성
  Issue.md
Due: style
