Repository jaem1n207/synchronize-tab-scrolling: changes, and which lefthook commands are due for each by the changed paths.
All: linter, style

lefthook.yml:

commit-msg:
  commands:
    'lint commit message':
      run: bunx commitlint --edit $1

pre-commit:
  parallel: true
  commands:
    linter:
      glob: '*.{svelte,js,ts}'
      run: bunx eslint --fix {staged_files} && git update-index --again
    style:
      glob: '*.{html,svelte,js,ts,json,pcss,md,yml}'
      run: bunx prettier --write {staged_files} && git update-index --again

feat: url로도 검색이 가능하도록 설정
  src/lib/tabs/tab-item.svelte
Due: linter, style

refactor: refactor firefoxVersion in platform.ts
  bun.lockb
  src/lib/platform.ts
  static/background-script.js
Due: linter, style

fix: onSelect 이벤트가 발생하더라도 input 포커스 유지하도록 수정
  src/lib/tabs/tabs-cmdk.svelte
Due: linter, style

chore(release): 2.3.0 [skip ci]
  CHANGELOG.md
  package.json
Due: style

Notes added by 'git notes add'
  57746311ef2669f60a3dc3c1a283ec01de6eeb43
Due: none

refactor: 누락되었던 탭 index 재설정
  src/lib/tabs/tab-item.svelte
Due: linter, style

docs: issue.md 파일에 async & await에 대한 설명을 추가
  .gitignore
  Issue.md
  vite.config.ts
Due: linter, style

refactor: chrome 객체에 존재하지 않는 속성에 대한 오류 처리 수정
  bun.lockb
  src/lib/webextension-polyfill.ts
Due: linter, style

docs: 4번째 이슈 작성
  Issue.md
Due: style

Update README.md
  README.md
Due: style

Update README-ko_kr.md
  README-ko_kr.md
Due: style

fix: 스크롤 백분율 계산할 때 문서 실제 보이는 뷰포트 높이 고려하도록 수정
  bun.lockb
  src/inject/content-script.inject.ts
  static/content-script.js
Due: linter, style

chore(release): 2.3.1 [skip ci]
  CHANGELOG.md
  package.json
Due: style

Notes added by 'git notes add'
  998f94e52d5a2f271afbe31c67632144bdf05c7d
Due: none

chore: 외부 모듈 업데이트
  bun.lockb
Due: none

fix: 외부 스크립트 추가할 수 없는 구글 서비스 url들 추가하여 관리
  src/lib/tabs/tab-list.svelte
Due: linter, style

docs: 리드미에 사용할 수 없는 url 섹션 업데이트
  README-ko_kr.md
  README.md
Due: style

chore(release): 2.3.2 [skip ci]
  CHANGELOG.md
  package.json
Due: style

Notes added by 'git notes add'
  55fa59df874ca606c7202d016013266b8708cc0e
Due: none

chore: firefox 브라우저 버전 지원 범위 수정
  utils/plugins/create-manifests.ts
Due: linter, style

refactor: eslint 9 마이그레이션 완료
  eslint-plugin-import.d.ts
  eslint.config.js
  eslint.config.mjs
  eslint.config.ts
  package.json
  pnpm-lock.yaml
  scripts/manifest.ts
  scripts/prepare.ts
  scripts/utils.ts
  src/background/main.ts
  src/contentScripts/pages/App.tsx
  src/contentScripts/render.tsx
  src/manifest.ts
  unocss.config.ts
Due: linter, style

chore: .DS_Store 파일 제거
  .DS_Store
Due: none

docs: cursor rules 작성
  .cursor/rules/chrome-browser-api-usage-rules.mdc
  .cursor/rules/chrome-extension-general-rules.mdc
  .cursor/rules/code-output-rules.mdc
  .cursor/rules/extension-architecture-rules.mdc
  .cursor/rules/logging.mdc
  .cursor/rules/naming-conventions-rules.mdc
  .cursor/rules/performance-optimization-rules.mdc
  .cursor/rules/react-performance-optimization-rules.mdc
  .cursor/rules/security-and-privacy-rules.mdc
  .cursor/rules/task-list.mdc
  .cursor/rules/ts-react-code-style.mdc
  .cursor/rules/typescript-usage-rules.mdc
  .cursor/rules/ui-and-styling-rules.mdc
  .cursorrules
Due: none

feat: sentry 설정
  package.json
  pnpm-lock.yaml
  src/background/main.ts
  src/contentScripts/index.ts
  src/shared/lib/logger.ts
  src/shared/lib/sentry_init.ts
Due: linter, style

chore: 사용하지 않는 eslint 설정 파일 제거
  eslint-plugin-import.d.ts
  eslint.config.js
Due: linter, style

fix: 실행 에러 해결
  scripts/utils.ts
  src/background/main.ts
  src/contentScripts/index.ts
  src/contentScripts/pages/App.tsx
  src/manifest.ts
  src/shared/i18n/_locales/en/messages.json
  src/shared/i18n/_locales/ko/messages.json
  src/shared/i18n/getTranslation.ts
  src/shared/i18n/index.ts
  src/shared/styles/index.ts
  src/shared/styles/main.css
  src/vite-env.d.ts
  unocss.config.ts
Due: linter, style

feat: 임시로 옵션 페이지 추가
  src/options/index.html
  src/options/main.tsx
Due: style

feat: sentry 소스맵 테스트
  .eslintrc-auto-import.json
  .github/workflows/release.yml
  .gitignore
  eslint.config.ts
  lefthook.yml
  package.json
  pnpm-lock.yaml
  shim.d.ts
  src/background/main.ts
  src/options/features/test.tsx
  src/options/main.tsx
  src/shared/lib/logger.ts
  vite.config.background.mts
  vite.config.content.mts
  vite.config.mts
Due: linter, style

fix: auto-import-plugin 관련 eslint 구성 수정
  .eslintrc-auto-import.json
  eslint.config.ts
Due: linter, style

chore: upgrade deps
  package.json
  pnpm-lock.yaml
Due: style

refactor: unocss tailwindcss4 버전 사용하도록 호환성 맞춤
  refreshPreamble.js
  src/options/features/test.tsx
  src/shared/styles/index.ts
  uno.config.ts
  vite.config.mts
Due: linter, style

chore: import/order plugin 활성화
  eslint.config.ts
Due: linter, style

chore: node.js 버전 관리를 위해 .nvmrc 파일 추가
  .nvmrc
Due: none

chore: upgrade deps
  eslint.config.ts
  lefthook.yml
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: linter, style

refactor: 로컬 스토리지 I/O 오버헤드 제거하고 성능 개선
  src/shared/lib/logger.ts
Due: linter, style

feat: popup 추가
  scripts/prepare.ts
  src/manifest.ts
  src/popup/index.html
  src/popup/main.tsx
Due: linter, style

feat: unocss + shadcn
  components.json
  lefthook.yml
  package.json
  pnpm-lock.yaml
  src/options/features/test.tsx
  src/popup/main.tsx
  src/shared/components/ui/button.tsx
  src/shared/components/ui/command.tsx
  src/shared/components/ui/dialog.tsx
  src/shared/components/ui/dropdown-menu.tsx
  src/shared/components/ui/input.tsx
  src/shared/components/ui/select.tsx
  src/shared/components/ui/tooltip.tsx
  src/shared/lib/utils.ts
  tsconfig.json
  uno.config.ts
Due: linter, style

feat: @tanstack/react-query 및 @tanstack/eslint-plugin-query 추가 및 ESLint 설정 업데이트
  .claude/commands/component.md
  .claude/commands/debug.md
  .claude/commands/hooks.md
  .claude/commands/lint.md
  .claude/commands/npm-scripts.md
  .claude/commands/refactor.md
  .claude/commands/state-management.md
  .claude/commands/test.md
  .claude/commands/typescript-migrate.md
  .claude/commands/workflow.md
  .claude/settings.json
  eslint.config.ts
  package.json
  pnpm-lock.yaml
  refreshPreamble.js
  scripts/utils.ts
  shim.d.ts
  src/popup/main.tsx
  src/shared/i18n/getTranslation.ts
  src/shared/i18n/index.ts
  src/shared/lib/performance-utils.ts
  src/shared/lib/url-utils.ts
Due: linter, style
