Repository jaem1n207/synchronize-tab-scrolling: changes, and which lefthook commands are due for each by the changed paths.
All: linter, style

lefthook.yml:

commit-msg:
  commands:
    'lint commit message':
      run: bunx commitlint --edit $1

pre-commit:
  parallel: true
  commands:
    linter:
      glob: '*.{svelte,js,ts}'
      run: bunx eslint --fix {staged_files} && git update-index --again
    style:
      glob: '*.{html,svelte,js,ts,json,pcss,md,yml}'
      run: bunx prettier --write {staged_files} && git update-index --again

docs: 크로스 브라우저 호환성 이슈 작성
  Issue.md
Due: style

fix: add polyfill for chrome.tabs.query function
  src/lib/tabs/utils.tabs.ts
Due: linter, style

fix: chrome 네임스페이스로 타입 단언하던 부분 제거
  src/lib/webextension-polyfill.ts
Due: linter, style

refactor: use globalThis
  .eslintrc.cjs
Due: none

fix: fix typo in Firefox add-on link
  README-ko_kr.md
  README.md
Due: style

docs: 이슈 사항 업데이트
  Issue.md
Due: style

style: 팝업창 최대 너비 설정
  src/lib/tabs/tabs-cmdk.svelte
Due: linter, style

fix: 서버에서 데이터 패칭하지 않음
  src/routes/+page.ts
Due: linter, style

refactor: webextension polyfill
  .eslintrc.cjs
  bun.lockb
  src/app.d.ts
  src/lib/tabs/selectedTabStore.ts
  src/lib/tabs/tab-item.svelte
  src/lib/tabs/utils.tabs.ts
  src/lib/webextension-polyfill.ts
Due: linter, style

fix: update delay values in copyToPlatformDirs and zip plugins
  utils/plugins/copy-to-platform-dirs.ts
  utils/plugins/zip.ts
  vite.config.ts
Due: linter, style

chore(release): 2.1.1 [skip ci]
  CHANGELOG.md
  package.json
Due: style

Notes added by 'git notes add'
  52bbd8659715bad9bd15344bb017d5a5f169a501
Due: none

fix: syncTabIds 반환 타입 수정
  src/lib/tabs/utils.tabs.ts
Due: linter, style

fix: chrome
  .eslintrc.cjs
Due: none

refactor: svele:window 요소를 사용해 window 객체에 이벤트 리스너 추가하도록 변경
  bun.lockb
  src/lib/components/theme-switcher.svelte
  src/lib/tabs/sub-command.svelte
  src/lib/tabs/tabs-cmdk.svelte
Due: linter, style

chore(release): 2.1.2 [skip ci]
  CHANGELOG.md
  package.json
Due: style

Notes added by 'git notes add'
  3d971c6f07d76715240d289f0fa2a257d50ea86c
Due: none

docs: 사소한 수정
  Issue.md
  source-code.zip
  utils/reload.ts
Due: linter, style

docs: update Docs
  README-ko_kr.md
  README.md
Due: style

chore: update .gitignore to include all zip files
  .gitignore
  source-code.zip
  utils/reload.ts
Due: linter, style

feat: add support for Edge and Opera platforms
  utils/paths.ts
  utils/plugins/create-manifests.ts
  utils/plugins/zip.ts
Due: linter, style

ci: update release workflow and dependencies
  .github/workflows/release.yml
  bun.lockb
  package.json
  release.config.js
Due: linter, style

ci: add package-lock.json
  package-lock.json
Due: style

ci: update npm command in release workflow
  .github/workflows/release.yml
Due: style

ci: ci 구성 수정
  .github/workflows/release.yml
  bun.lockb
  package-lock.json
Due: style

chore(release): 2.2.0 [skip ci]
  CHANGELOG.md
  package.json
Due: style

Notes added by 'git notes add'
  5e128b95374c9a1a8b1b6d5e4752fa80d453b4a4
Due: none

fix: 윈도우 환경에서 단축키 텍스트 수정
  src/lib/components/theme-switcher.svelte
  src/lib/tabs/sub-command.svelte
  src/lib/tabs/tabs-cmdk.svelte
Due: linter, style

docs: update links in README files
  README-ko_kr.md
  README.md
Due: style

chore(release): 2.2.1 [skip ci]
  CHANGELOG.md
  package.json
Due: style

Notes added by 'git notes add'
  9d0e41e34b6dbca619ff59e123415c3686b29c4b
Due: none

ci: add conditional check for dependabot in release job
  .github/workflows/release.yml
Due: style

fix: onSelect 이벤트가 발생하더라도 input 포커스 유지하도록 수정
  src/lib/tabs/tabs-cmdk.svelte
Due: linter, style

refactor: refactor firefoxVersion in platform.ts
  bun.lockb
  src/lib/platform.ts
  static/background-script.js
Due: linter, style

feat: url로도 검색이 가능하도록 설정
  src/lib/tabs/tab-item.svelte
Due: linter, style
